@import "_vars";
@import "modules/_index";
@import "modules/_nav";
@import "modules/_footer";
@import "modules/_mediaQueries";

.hidden {
    display: none;
}

body {
    background: #f1f2f2;
}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }