<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luxury Apple Airpods</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>
<h1 class="hidden">Lux Airpods Website</h1>

<main>

    <header>
        
        <nav>
            <h2 class="hidden">Main Navigation</h2>

            <div class="logoCon">
                    <a href="index.html"><img src="images/lux_airpods.svg" alt="Lux Airpods Logo"></a>
             </div>

            <button id="button"></button>
            
        </nav>
    </header>
    
    <div class="welcomeSection">
        <div class="welcomeDesc">
            <h2>Full 24K Gold Apple Airpods 2</h2>
            <h3>Think & Wear Different</h3>
            <a href="#">Buy Now</a>
        </div>

        <img src="images/airpod.png" alt="Airpod Image">
    </div>

    <section class="description">
        <h3>
            Gold AirPods they are every bit as luxurious as they sound.
        </h3>
        <img src="images/airpods_side.png" alt="Airpods Image">

    </section>

<div class="producstBackground">
        <h2>Choose from our latest styles </h2>
    <section class="productsCon">
        
        <div class="product">
            <img src="images/airpod_gold.jpg" alt="Gold Airpod Image">
            <h3>24k Full Gold</h3>
            <a href="#">Buy Now</a>
        </div>

        <div class="product">
            <img src="images/airpod_platinum.jpg" alt="Platinum Airpod Image">
            <h3>Full 007 Platinum</h3>
            <a href="#">Buy Now</a>
        </div>

        <div class="product">
            <img src="images/airpod_rose.jpg" alt="Rose Gold Airpod Image">
            <h3>24k Rose Gold</h3>
            <a href="#">Buy Now</a>
        </div>


    </section>
</div>

<footer>
    
    <div class="socialMedia">
        <a href="#"><img src="images/facebook.svg" alt="Facebook Icon"></a>
        <a href="#"><img src="images/instagram.svg" alt="Instagram Icon"></a>
        <a href="#"><img src="images/youtube.svg" alt="Youtube Icon"></a>
        <a href="#"><img src="images/twitter.svg" alt="Twitter Icon"></a>
    </div>
    <h4>© 2019 Lux Airpods All Rights Reserved</h4>
</footer>
</main>
<div class="navLightbox" >
        <span class="lightbox-close">X</span>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>

</div>
<script src="js/main.js"></script>
</body>
</html>